.page.theme_dark {
  --accent-color: #FF0070;
  --decorated-color: #FF0070;
  --button-outline-color: rgba(255, 0, 112, 0.4);
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --bg-color: #000028;
  --bg-img: url(../images/cover-image-dark.png);
}

.theme_dark .header__decorated-el {
  display: block;
}
