.page.theme_light {
  --accent-color: #FF8DCB;
  --decorated-color: #353430;
  --button-outline-color: rgba(50, 49, 45, 0.4);
  --text-color: #353430;
  --title-color: #FFC2E6;
  --subtitle-color: #353430;
  --bg-color: #FFF1F7;
  --bg-img: url(../images/cover-image-light.png);
}

.theme_light .header__decorated-el {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --decorated-color: #353430;
    --button-outline-color: rgba(50, 49, 45, 0.4);
    --text-color: #353430;
    --title-color: #FFC2E6;
    --subtitle-color: #353430;
    --bg-color: #FFF1F7;
    --bg-img: url(../images/cover-image-light.png);
  }

  .header__decorated-el {
    display: none;
  }
}
